
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title> 
        <script src="https://secure.ewaypayments.com/scripts/eCrypt.js"></script>
    </head>

    <body>
        <form data-eway-encrypt-key="vF2SEUdV8mzbMvpq46BW5K/MrcmY+y45JCpV406g4HxJTUkEQDHIUTPx7NFhohsIJ8rpqaM/IZlaPMOsWrIACxXiHWPxY2W6h7ti3/1A/GTJdATPeGZictzl1ZYoQw4t4sgNthFagju/S0LGvkiW+cD8rV0AVtO6DG9Pju5JW0vsg8WToGLlvXVBtgY0r9fuxMM/6FYwQ5BC/oKdQ9+GArFfZtVwCOZ87PG9FIK+cu0Up+6/V4RVoMddg6N+pbb8gxXpaZa0OfmMa2lpCbMRxnFf0jlDKD9M8qElxdWoVL5xAnZjAjobXDUYLgWR3bNiux+5t0UAJiUBhNS7+eNUPQ==">
            <div class="modal-header">
                <input id="submit" class="btn btn-sm btn-info" type="button" value="Payment via eWAY" />

            </div>

            <div class="form-group">
                <label for="Name" class="col-sm-3 control-label">Card Name</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control required" required="true" id="Name" name="Name" value = "Lee YOU"/>	                            
                </div>
            </div>
            <div class="form-group">
                <label for="Number" class="col-sm-3 control-label">Card Number</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control required" required="true" id="Number" name="Number" data-regex="^[0-9]+$" value = "4444333322221111"/>	                            
                </div>
            </div>
            <div class="form-group">
                <label for="ExpiryMonth" class="col-sm-3 control-label">ExpiryMonth</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control required" required="true" id="ExpiryMonth" name="ExpiryMonth" data-regex="^[0-9]+$" value="12"/>	                            
                </div>
            </div>

            <div class="form-group">
                <label for="ExpiryYear" class="col-sm-3 control-label">ExpiryYear</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control required" required="true" id="ExpiryYear" name="ExpiryYear" data-regex="^[0-9]+$" value="23"/>	                            
                </div>
            </div>

            <div class="form-group">
                <label for="CVN" class="col-sm-3 control-label">CVN</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control required" required="true" id="CVN" name="CVN" data-regex="^[0-9]+$" value="567"/>	                            
                </div>
            </div>      

            <div class="form-group">
                <label for="TotalAmount" class="col-sm-3 control-label">TotalAmount</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control required" required="true" id="TotalAmount" name="TotalAmount" data-regex="^[0-9]+$" value="897"/>	                            
                </div>
            </div>   
            <div class="form-group">
                <label for="CurrencyCode" class="col-sm-3 control-label">CurrencyCode</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control required" required="true" id="CurrencyCode" name="CurrencyCode" value="AUD"/> 
                </div>
            </div>  

        </form>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#submit').click(function (event) {

                    $.ajax({
                        url: "/eWayTest",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            name: $('#Name').val(),
                            expiryMonth: $('#ExpiryMonth').val(),
                            expiryYear: $('#ExpiryYear').val(),
                            totalAmount: $('#TotalAmount').val() * 100,
                            currencyCode: $('#CurrencyCode').val(),
                            number: eCrypt.encryptValue($('#Number').val()),
                            cvn: eCrypt.encryptValue($('#CVN').val())

                        },
                        success: function (data) {
                            flog("success", data);
                            Msg.success(data.messages, 6000);
                        },
                        error: function (resp) {
                            flog("errors", resp);
                            Msg.error("An error occured!\r\n" + data.messages, 6000);
                        }
                    });
                });
            });
        </script>
    </body>

</html>